body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0;
}

.header {
    background-color: #1f2937;
    font-size: 24px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 260px;
    padding-top: 20px;
    flex: 1;

}

.links {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none !important;
    color: #f9faf8;
}
 
.button1 {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 15px;
    font-size: 18px;
}
.block1{
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    justify-content:space-between;
    align-items: center;
    flex: 1 1 auto; 
    padding: 20px 200px;
   
}
.title1 {
    font-size: 48px;
    font-weight:bolder;

}

.supplies {
    width: auto;
    height: auto;
    padding: 60px;
    flex: 0 1 650; 

}

.text1 {
    width: auto;
    font-size: 18px;
    color: #e5e7eb;
    flex: 1 1 auto;
}

.title2{
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
}

.block2 {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-right:250px;
    margin-left: 200px;
    gap: 20px;
    padding-bottom: 100px; 
}

.pic {
    border-style:ridge; 
    width: 300px;
    height: 300px;  
    border-radius: 10px; 
    border-color: #3882f6;
    margin-top: 40px;
}

.text2-1 {
    max-width: 300px;
    height: auto; 
    flex: 1;  
    text-align: center;
    padding-bottom:  20px;
   
    
}

.text2-2 {
    max-width: 300px;
    flex: 1;  
    text-align: center;
    padding-bottom:  20px;
    
}

.text2-3 {
    max-width: 300px;
    flex: 1;  
    text-align: center;
    padding-bottom:  20px;
   
}

.text2-4 {
    max-width: 300px;
    flex: 1;  
    text-align: center;
    padding-bottom:  20px;
  
}

.block3 {
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb ;
    align-items: center;
      
}

.text3 {
    font-size: 36px;
    font-style: italic;
    color: hsl(197, 18%, 32%);
    width: 1475px;
    padding-top: 100px;
    font-weight: lighter;
}

.signature3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 100px;
    padding-top: 32px;
    padding-left: 1150px;
    flex: 1;
   }

.block4 {
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    
    margin: 75px 200px; 
    border-radius: 5px;
    padding: 40px;
    flex: 1; 
   }

.title4 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.text4 {
    color: hsl(0, 0%, 90%);
    font-size: 16px;
    flex: 1;
}

.button2 {
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    border-color: white;
    padding: 0px 50px;
    max-width: 200px;
    flex: 1;
}

.footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;

}